.logo-size {
  max-height: 300px;
}

.mission-icon-size {
  max-height: 300px;
}

.resize-ul {
  font-size: 18px;
}

.dark-text {
  color: #2C3E50;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

.who-we-are {
  color: white;
}

.who-we-are:hover {
  color: #295989;
}

.navbar-logo {
  height: 45px;
  padding: 0px;
}

.talk-act:hover {
  color: #295989;
}
